.bookshelf {
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
  }
  
  .bookCard {
    justify-content: space-between;
    color: #69465e;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .bookCard h2 {
    width: 100%;
    margin-left: 2rem;
  }
  
  @media only screen and (max-width: 600px) {
    .bookCard {
        flex-direction: column;
      }
  }